.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0 0.7rem;
  text-align: center;
  animation: fade-in 3s;
  animation-fill-mode: both;
  background-color: var(--red);

  .title {
    flex-shrink: 0;
    flex-grow: 0;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .titleSticky {
    position: sticky;
    bottom: 0;
    height: 0;
    h2 {
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
    }
  }

  & > * {
    margin-bottom: 2.8rem;
  }
}

.credits {
  max-width: 70em;
  width: 100%;
  letter-spacing: 0.25em;
  font-size: 0.75rem;
  @media (min-width: 920px) {
    font-size: 1rem;
    letter-spacing: 0.39em;
  }
}

.body {
  max-width: 70em;
  font-size: 0.75rem;
  @media (min-width: 920px) {
    font-size: 1rem;
  }
}

.painting {
  height: 4rem;
  @media (min-width: 920px) {
    height: 7rem;
  }
  mix-blend-mode: multiply;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
