.home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  padding: 0 0.7rem;
  .top,
  .bottom {
    flex-shrink: 0;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-in 3s;
    animation-fill-mode: both;
    @media (min-width: 920px) {
      height: 8rem;
    }
  }
  .middle {
    flex-grow: 1;
    position: relative;
    cursor: pointer;
  }
  .bottom h2 {
    cursor: pointer;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
